$form-select-custom-indicator-color:   rgba($black, .6);

.blog-sidebar-widgets {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.blog-sidebar-widgets,
.block-editor-block-list__layout,
.prose.entry-content {
    a {
        text-decoration: none;
    }

    .blocks-gallery-item {
        figure {
            position: relative;
        }
    }

    select {
        display: block;
        width: 100%;
        padding: 0.575rem 2.53125rem 0.575rem 1.125rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #454056;
        background-color: #fff;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-custom-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
        background-repeat: no-repeat;
        background-position: right 1.125rem center;
        background-size: 16px 12px;
        border: 1px solid #d5d2dc;
        border-radius: 0.5rem;
        box-shadow: inset 0 1px 2px transparent;
        appearance: none;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus{
            color: #454056;
            background-color: #fff;
            border-color: #feab98;
            outline: 0;
            box-shadow: inset 0 1px 2px transparent, 0 0 0 0.125rem rgb(253 86 49 / 25%);
        }
    }

    .widget_block {
        .wp-block-group__inner-container > h2 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.4;
            color: #1f1b2d;
        }
    }

    .wp-calendar-table {
        --#{$variable-prefix}table-bg: #{$table-bg};
        --#{$variable-prefix}table-accent-bg: #{$table-bg};
        --#{$variable-prefix}table-striped-color: #{$table-striped-color};
        --#{$variable-prefix}table-striped-bg: #{$table-striped-bg};
        --#{$variable-prefix}table-active-color: #{$table-active-color};
        --#{$variable-prefix}table-active-bg: #{$table-active-bg};
        --#{$variable-prefix}table-hover-color: #{$table-hover-color};
        --#{$variable-prefix}table-hover-bg: #{$table-hover-bg};

        width: 100%;
        margin-bottom: 0;
        color: $table-color;
        vertical-align: $table-cell-vertical-align;
        border-color: $table-border-color;
        text-align: center;

        > :not(caption) > * > * {
            padding: .5rem;
            background-color: var(--#{$variable-prefix}table-bg);
            border-bottom-width: $table-border-width;
            box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
        }

        > tbody {
          vertical-align: inherit;
        }

        > thead {
          vertical-align: bottom;
        }

        > :not(:last-child) > :last-child > * {
          border-bottom-color: $table-group-separator-color;
        }

        caption {
            text-align: center;
        }

        .wp-calendar-nav {
            display: flex;
            justify-content: space-between;
        }
    }

    .widget_text {
        p {
            font-size: 14px;
        }

        .wp-caption-text{
            margin-bottom: 4px;
        }
    }

    .widget_rss {
        .rss-widget-icon {
            display: none;
        }

        .widget-title .rsswidget {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.4;
            color: #1f1b2d;
        }

        li {
            margin-bottom: 24px;

            .rsswidget {
                display: block;
                font-weight: bold;

                &:not(:hover) {
                    color: $gray-900;
                }
            }
        }

        .rssSummary,
        .rss-date {
            margin-bottom: 8px;
            display: block;
        }

        .rssSummary,
        .rss-date,
        cite,
        li .rsswidget {
            font-size: 14px;
        }
    }

    .widget_archive,
    .widget_categories,
    .widget_pages,
    .widget_meta,
    .widget_recent_entries,
    .widget_block,
    .widget_nav_menu {
        ul {
            margin-bottom: -8px;

            li {
                margin-bottom: 8px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                ul {
                    width: 100%;
                    padding-left: 12px;
                    padding-top: 6px;
                }

                a {
                    &:not(:hover) {
                        color: $gray-800;
                    }
                }
            }
        }
    }

    .widget_recent_comments {
        ul {
            margin-bottom: -14px;

            li {
                margin-bottom: 14px;

                a {
                    &:not(:hover) {
                        color: $gray-900;
                    }
                }
            }
        }

        .comment-author-link {
            font-weight: bold;
            font-size: 14px;
        }
    }

    .wp-block-calendar tbody td,
    .wp-block-calendar th {
        border-right-width: 0;
        border-left-width: 0;
        border-color: #efecf3;
    }

    .wp-block-calendar table caption,
    .wp-block-calendar table tbody {
        color: #666276;
    }


    .wp-block-calendar {
        text-align: left;

        th {
            font-weight: bold;
            border-top-width: 0;
        }

        .wp-calendar-nav {
            display: flex;
            justify-content: space-between;
        }
    }

    .wp-block-latest-comments {
        padding-left: 0;
        margin-bottom: -14px;
    }

    .wp-block-latest-comments__comment-avatar,
    .wp-block-latest-comments__comment-excerpt,
    .wp-block-latest-comments__comment-date {
        display: none;
    }

    .wp-block-latest-comments__comment-meta {
        margin-left: 0 !important;
    }

    .wp-block-latest-comments__comment-author {
        font-size: 14px;
        font-weight: bold;
    }

    .wp-block-latest-comments__comment-link:not(:hover),
    .wp-block-latest-comments__comment-author:not(:hover) {
        color: #1f1b2d;
    }

    .wp-block-latest-comments__comment {
        margin-bottom: 14px;
        min-height: auto;
    }
}

.wp-block-button.is-style-squared {
    .wp-block-button__link {
        border-radius: 0;
    }
}

.block-editor-block-list__layout,
.prose {
    .wp-block-archives,.wp-block-rss {
        margin-bottom: -8px;

        li {
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            ul {
                width: 100%;
                padding-left: 12px;
                padding-top: 6px;
            }

            a {
                &:not(:hover) {
                    color: $gray-800;
                }
            }
        }
    }
}

.prose {
    /*--------------------------------------------------------------
    ## Galleries
    --------------------------------------------------------------*/

    .gallery {
        margin-bottom: 1.5em;
    }

    .alignleft,
    .alignright {
        &[class*="columns-"] {
            display: flex;
        }
    }

    .gallery-item {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 100%;
        margin-bottom: 30px !important;
        margin-top: 0 !important;

        img {
            margin: 0 !important;
        }

        @media (min-width:768px) {
            max-width: 33.33%;
        }

        @media (min-width:1199px) {
            padding: 0 15px;
        }
    }

    @media (min-width:1024px) {
        .gallery-columns-2 .gallery-item {
            max-width: 50%;
        }

        .gallery-columns-3 .gallery-item {
            max-width: 33.33%;
        }

        .gallery-columns-4 .gallery-item {
            max-width: 25%;
        }

        .gallery-columns-5 .gallery-item {
            max-width: 20%;
        }

        .gallery-columns-6 .gallery-item {
            max-width: 16.66%;
        }

        .gallery-columns-7 .gallery-item {
            max-width: 14.28%;
        }

        .gallery-columns-8 .gallery-item {
            max-width: 12.5%;
        }

        .gallery-columns-9 .gallery-item {
            max-width: 11.11%;
        }

        .gallery-columns-10 .gallery-item {
            max-width: 10%;
        }
    }

    .gallery-caption {
        display: block;
        margin: 14px 0;
        font-size: 14px;
    }
}

.blocks-gallery-caption {
    margin-bottom: 26px !important;
}

.wp-block-gallery.alignleft {
    margin-right: 30px;
}

h2.widgettitle {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #1f1b2d;

    > .rss-widget-feed {
        display: none;
    }

    > .rss-widget-title {
        text-decoration: none;
        color: #1f1b2d;
    }

    & + ul,
    & + div > ul.menu  {
        margin-bottom: -8px;
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .rss-date,
            .rssSummary {
                width: 100%;
            }

            .rssSummary {
                margin: 10px 0;

                & + cite {
                    margin-bottom: 10px;
                }
            }

            ul {
                width: 100%;
                padding-left: 12px;
                padding-top: 6px;
            }

            a {
                text-decoration: none;

                &:not(:hover) {
                    color: $gray-800;
                }
            }
        }

        li.recentcomments {
            display: block;
        }
    }

    & ~ select,
    & + form select {
        display: block;
        width: 100%;
        padding: 0.575rem 2.53125rem 0.575rem 1.125rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #454056;
        background-color: #fff;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-custom-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
        background-repeat: no-repeat;
        background-position: right 1.125rem center;
        background-size: 16px 12px;
        border: 1px solid #d5d2dc;
        border-radius: 0.5rem;
        box-shadow: inset 0 1px 2px transparent;
        appearance: none;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus{
            color: #454056;
            background-color: #fff;
            border-color: #feab98;
            outline: 0;
            box-shadow: inset 0 1px 2px transparent, 0 0 0 0.125rem rgb(253 86 49 / 25%);
        }
    }

    & + .calendar_wrap .wp-calendar-table {
        --#{$variable-prefix}table-bg: #{$table-bg};
        --#{$variable-prefix}table-accent-bg: #{$table-bg};
        --#{$variable-prefix}table-striped-color: #{$table-striped-color};
        --#{$variable-prefix}table-striped-bg: #{$table-striped-bg};
        --#{$variable-prefix}table-active-color: #{$table-active-color};
        --#{$variable-prefix}table-active-bg: #{$table-active-bg};
        --#{$variable-prefix}table-hover-color: #{$table-hover-color};
        --#{$variable-prefix}table-hover-bg: #{$table-hover-bg};

        width: 100%;
        margin-bottom: 0;
        color: $table-color;
        vertical-align: $table-cell-vertical-align;
        border-color: $table-border-color;
        text-align: center;

        > :not(caption) > * > * {
            padding: .5rem;
            background-color: var(--#{$variable-prefix}table-bg);
            border-bottom-width: $table-border-width;
            box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
        }

        > tbody {
          vertical-align: inherit;
        }

        > thead {
          vertical-align: bottom;
        }

        > :not(:last-child) > :last-child > * {
          border-bottom-color: $table-group-separator-color;
        }

        caption {
            text-align: center;
        }

        .wp-calendar-nav {
            display: flex;
            justify-content: space-between;
        }
    }

    & + div.tagcloud {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;

        a {
            display: inline-block;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;

            padding: 0.375rem 0.875rem;

            border-color: #d5d2dc;
            color: #454056;
            border-radius: 50rem;
            font-size: 14px !important;
            font-weight: 400;
            margin-right: 8px;
            margin-bottom: 8px;

            &:hover {
                color: #1f1b2d;
                background-color: #f5f4f8;
                border-color: #d5d2dc !important;
            }
        }
    }
}
