.blog-sidebar-widgets,
.prose.entry-content,
.block-editor-block-list__layout {
    .widget_search {
        position: relative;
        margin-bottom: 24px;
        padding-bottom: 8px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 0;
        }

        .wp-block-search__label {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.4;
            color: #1f1b2d;
        }

        .wp-block-search__button-inside {
            .wp-block-search__inside-wrapper {
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #454056;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #d5d2dc;
                appearance: none;
                border-radius: 0.5rem;
                box-shadow: inset 0 1px 2px transparent;

                .wp-block-search__button.has-icon {
                    background-color: transparent;
                    border-width: 0;
                    color: #9691a4;
                    transform: scaleX(-1);

                    svg {
                        min-width: 30px;
                        min-height:30px;
                    }
                }

                .wp-block-search__input {
                    border-width: 0;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }

        .wp-block-search__inside-wrapper {
            .wp-block-search__input {
                display: block;
                width: 100%;
                padding: 0.575rem 1.125rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #454056;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #d5d2dc;
                appearance: none;
                border-radius: 0.5rem;
                box-shadow: inset 0 1px 2px transparent;
                transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


                &:focus{
                    color: #454056;
                    background-color: #fff;
                    border-color: #feab98;
                    outline: 0;
                    box-shadow: inset 0 1px 2px transparent, 0 0 0 0.125rem rgba(253, 86, 49, 0.25);
                }
            }
        }

        .wp-block-search__no-button {
            position: relative;

            .wp-block-search__input {
                padding-right: 48px;
            }

            &:after {
                content: "\e9b2";
                font-family: "finder-icons" !important;
                color: #9691a4;
                position: absolute;
                bottom: 10px;
                right: 0;
                margin-right: 1rem;
            }
        }

        .wp-block-search__button {
            border-radius: 0.5rem;
        }
    }

    p.wp-block-tag-cloud,
    .widget_tag_cloud .tagcloud {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;

        a {
            display: inline-block;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;

            padding: 0.375rem 0.875rem;

            border-color: #d5d2dc;
            color: #454056;
            border-radius: 50rem;
            font-size: 14px !important;
            font-weight: 400;
            margin-right: 8px;
            margin-bottom: 8px;

            &:hover {
                color: #1f1b2d;
                background-color: #f5f4f8;
                border-color: #d5d2dc !important;
            }
        }
    }

    ul.wp-block-latest-posts__list.has-dates.has-author.wp-block-latest-posts,
    ul.wp-block-latest-posts__list.has-dates.wp-block-latest-posts {
        li {
            position: relative;
            display: block;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 0.75rem;
            //box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, 0.08), 0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
            padding-bottom: 16px;

            > a {
                font-weight: bold;
                padding: 20px 0 12px;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    ul.wp-block-latest-posts.wp-block-latest-posts__list {
        li {
            > a {
                line-height: 1.3;
                display: block;
                padding: 0.5rem 20px;
                margin-bottom: 0;
                font-size: 16px;
                color: #454056;
                padding-top: 20px;
            }

            .wp-block-latest-posts__featured-image {
                a {
                    display: block;
                }

                img {
                    border-top-left-radius: calc(0.75rem - 1px);
                    border-top-right-radius: calc(0.75rem - 1px);
                    width: 100%;
                    overflow: hidden;
                    height: 260px;
                    object-fit: cover;
                }

                &.alignleft,
                &.alignright {
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: calc(0.75rem - 1px);
                        margin-bottom: 16px;
                    }

                    a {
                        padding-top: 0;
                    }

                    & + .wp-block-latest-posts__post-title {
                        padding-top: 0;
                        padding-bottom: 4px;
                    }
                }
            }

            .wp-block-latest-posts__post-author {
                color: #454056;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 4px;
                //padding-left: 20px;
                font-weight: bold;
            }

            .wp-block-latest-posts__post-date {
                color: #666276;
                font-size: 12px;
                //padding-left: 20px;
            }

            .wp-block-latest-posts__post-excerpt {
                //padding:0 20px;
                font-size: 14px;
            }
        }
    }
}

.bg-dark {
    .card-transparent,
    .card-transparent ul.wp-block-latest-posts__list.has-dates.wp-block-latest-posts li {
        background-color: transparent;
    }

    .card-transparent {
        .wp-block-latest-posts__list {
            a {
                color: rgba(255,255,255,.65) !important;

                &:hover {
                    color: #fff !important;
                }
            }

            .wp-block-latest-posts__post-author,time {
                color: rgba(255,255,255,.70) !important;
            }
        }
    }
}



.prose.entry-content,
.block-editor-block-list__layout {
    ul.wp-block-latest-posts.wp-block-latest-posts__list li>a {
        padding-left: 0;
        padding-right: 0;
    }
}

.comment-navigation + .no-comments.alert {
    margin-top: 26px;
}

body.bg-dark {
    .card-transparent {
        background-color: transparent;
        border-color: #ffffff26;
    }
}

.blog-recent-posts a {
    padding: 0 !important;
}
