.footer-widgets,
.footer-widgets-dark {
    .wp-block-social-links {
        .wp-social-link {
            margin-bottom: 0;
            background-color: transparent;

            &:hover {
                transform: unset;
            }

            a.wp-block-social-link-anchor {
                font-weight: bold;
                line-height: 1.5;
                color: #666276;
                text-align: center;
                text-decoration: none;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                padding: 0;
                font-size: 0.75rem;
                box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
                border-radius: 50%;
                margin-right: 8px;
                margin-bottom: 8px;
            }

            &.wp-social-link-facebook,
            &.wp-social-link-twitter,
            &.wp-social-link-google,
            &.wp-social-link-telegram {
                svg {
                    display: none;
                }

                a.wp-block-social-link-anchor {
                    &:before {
                        font-size: 1.2em;
                        display: inline-block;
                        font-family: "finder-icons" !important;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        vertical-align: middle;
                        line-height: 1;
                    }
                }
            }

            &.wp-social-link-facebook {
                a.wp-block-social-link-anchor {
                    &:before {
                        content: "\e905";
                    }
                }
            }

            &.wp-social-link-twitter {
                a.wp-block-social-link-anchor {
                    &:before {
                        content: "\e91c";
                    }
                }
            }

            &.wp-social-link-google {
                a.wp-block-social-link-anchor {
                    &:before {
                        content: "\e90a";
                    }
                }
            }

            &.wp-social-link-telegram {
                a.wp-block-social-link-anchor {
                    &:before {
                        content: "\e919";
                    }
                }
            }
        }
    }
}

.footer-widgets {
    ul:not(.wp-block-social-links) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: column;
    }

    .wp-block-social-links {
        .wp-social-link {
            a.wp-block-social-link-anchor {
                background-color: #fff;
                color: #666276;

                &:hover {
                    color: #fff;
                    background-color: #fd5631;
                    box-shadow: 0 0.25rem 0.25rem 0.125rem rgb(253 86 49 / 10%), 0 0.375rem 0.75rem -0.125rem rgba(253, 86, 49, .40);
                }
            }
        }
    }


    ul.wp-block-latest-posts.wp-block-latest-posts__list {
        li {
            overflow: auto;
            margin-bottom: 0;
            max-width: 640px;

            > a {
                line-height: 1.4;
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: bold;
                color: #454056;
                text-decoration: none;
                transition: color .25s ease-in-out,background-color .25s ease-in-out,box-shadow .25s ease-in-out,border-color .25s ease-in-out;
            }

            .wp-block-latest-posts__featured-image {
                display: none;
                margin-bottom: 16px;
                float: left;

                @include media-breakpoint-up(sm) {
                    display: block;
                    margin-right: 24px;
                    margin-bottom: 0;
                }


                img {
                    border-radius: .75rem;
                }
            }

            &:before {
                background-color: #1f1b2d;
                margin: 24px 0;
                opacity: 0.1;
                width: 100%;
                content: '';
                display: block;
                height: 1px;
            }

            &:first-child:before {
                content: none;
            }

            .wp-block-latest-posts__post-excerpt {
                margin-top: 0;
                margin-bottom: 8px;
                font-size: 14px;
            }

            .wp-block-latest-posts__post-author,
            .wp-block-latest-posts__post-date {
                margin-bottom: 4px;
            }
        }
    }
}

.footer-widgets-dark {
    ul:not(.wp-block-social-links) {
        list-style: none;
        padding-left: 0;
        font-size: 14px;

        li {
            a {
                color: rgba(255,255,255,.65);
                text-decoration: none;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul:not(.menu):not(.wp-block-social-links) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: column;
    }

    .wp-block-social-links {
        .wp-social-link {
            a.wp-block-social-link-anchor {
                background-color: rgba(255,255,255,.04);
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: #fd5631;
                }
            }
        }
    }
}

.footer-widgets-dark-v2 {
    ul:not(.wp-block-social-links) {
        list-style: none;
        padding-left: 0;
        font-size: 14px;

        li {

            a {
                color: rgba(255,255,255,.65);
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul:not(.menu) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: column;
    }
}

.footer-widgets ul:not(.wp-block-social-links),
.footer-widgets-dark ul:not(.menu):not(.wp-block-social-links),
.footer-widgets-dark-v2 ul:not(.menu) {
    li {
        margin-bottom: 8px;

        a {
            display: block;
            font-weight: 400;
            color: #454056;
            text-decoration: none;
            transition: color .25s ease-in-out,background-color .25s ease-in-out,box-shadow .25s ease-in-out,border-color .25s ease-in-out;

            &[href^="mailto:"],
            &[href^="tel:"] {
                &:before {
                    margin-top: -4px;
                    margin-right: 8px;
                    vertical-align: middle;
                    display: inline-block;
                    font-family: "finder-icons" !important;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    vertical-align: middle;
                    line-height: 1;
                }
            }

            &[href^="mailto:"] {
                &:before {
                    content: "\e997";
                }
            }

            &[href^="tel:"] {
                &:before {
                    content: "\e967";
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer-widgets ul:not(.wp-block-social-links) li a {
    &[href^="mailto:"],
    &[href^="tel:"] {
        &:before {
            opacity: .7;
        }
    }
}

.footer-widgets-dark ul:not(.menu):not(.wp-block-social-links) li a {
    color: #fff;
}

.footer-widgets-dark-v2 ul:not(.menu) li a,
.footer-widgets-dark ul:not(.menu):not(.wp-block-social-links) li a {
    &[href^="mailto:"],
    &[href^="tel:"] {
        &:before {
            color: $primary;
        }
    }
}

.footer-widgets-dark-v2 ul:not(.menu) li a {
    color: #fff;
    white-space: nowrap;
}

.footer-widgets-dark ul:not(.menu):not(.wp-block-social-links) li a,
.footer-widgets-dark-v2 ul:not(.menu):not(.wp-block-social-links) li a {
    font-size: 16px !important;
}
