.width-100 {
    width: 100px;
}

.height-100 {
    height: 100px !important;
}

.object-fit-cover {
    object-fit: cover;
}

.wpform-light {
    label.wpforms-field-label {
        color: #fff;
    }
}

.wpforms-container .wpforms-field-label {
    margin-bottom: 0.375rem;
    font-size: 1rem;
    color: #1f1b2d;
    font-weight: 400 !important;
}

.wpforms-submit-container {
    padding: 0;
}

.wpforms-error {
    color: $danger !important;
}
.city-guide-form textarea {
    height: 124.38px !important;
}

.city-guide-form .wpforms-submit-container {
    padding: 8px 0 0 0;
}

@media(min-width: 500px) {
    .city-guide-form.row .wpforms-field-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
    }
}

.real-estate-submit .wpforms-submit-container {
    padding: 12px 0 0 0;
}
.real-estate-submit textarea {
    height: 124.38px !important;
    
}


.car-guide-form textarea {
    height: 124.38px !important;
}

.car-guide-form .wpforms-submit-container {
    padding: 8px 0 0 0;
}

.city-guide-form .col{
    flex: 1 0 0%;
    padding: 0 12px;
}


.city-guide-subscribe-form .d-flex {
    justify-content: space-between;
    align-items: center;
}

.city-guide-subscribe-form .wpforms-submit-container{
    padding: 0;
}

.city-guide-subscribe-form .wpforms-field-container {
    width: 100%;
}

.city-guide-subscribe-form.wpforms-container label.wpforms-error {
    position: absolute;
}

.city-guide-subscribe-form form:before {
    display: flex;
    align-items: center;
    padding: 0.575rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #9691a4 !important;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d5d2dc;
    border-radius: 0.5rem;
    margin-top: 0.125rem;
    border: 0;
    background: transparent;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-family: "finder-icons";
    vertical-align: middle;
    content: "\e997";
    line-height: 1;
}