.hp-listing__action--favorite {

    .fi-heart:before {
        content: "\e98a" !important;
    }

    &.btn {
        &.btn-light {
            &:hover,
            &:active,
            &:focus {
                background-color: #fff !important;
                box-shadow: unset !important;
            }

            &.text-primary {
                &:hover,
                &:active,
                &:focus {
                    color: #fd5631 !important;
                }
            }

            &.text-body {
                &:hover,
                &:active,
                &:focus {
                    color: #666276 !important;
                }
            }
        }

        &.btn-translucent-light {
            &:hover,
            &:active,
            &:focus {
                color: #fff !important;
                background-color: rgba(255,255,255,.04) !important;
                box-shadow: unset !important;
            }
        }

        &.btn-primary {
            &:hover,
            &:active,
            &:focus {
                color: #fff !important;
                background-color: #fd5631 !important;
                box-shadow: unset !important;
            }
        }

        &[data-state=active] {
            &.btn-light {
                &.text-primary,
                &.text-body {
                    color: #fff !important;
                    background-color: #fd5631 !important;
                    box-shadow: 0 0.25rem 0.25rem 0.125rem rgba(253, 86, 49, 0.1), 0 0.375rem 0.75rem -0.125rem rgba(253, 86, 49, 0.4) !important;
                    border-color: #fd5631 !important;
                }
            }

            &.btn-translucent-light {
                color: #fd5631 !important;
                background-color: #fff !important;
                border-color: #fff !important;
            }

            &.btn-primary {
                color: #fff !important;
                background-color: #fd390e !important;
                box-shadow: 0 0.25rem 0.25rem 0.125rem rgba(253, 86, 49, 0.1), 0 0.375rem 0.75rem -0.125rem rgba(253, 86, 49, 0.4) !important;
                border-color: #fd390e !important;
            }
        }
    }
}

.hp-field--hidden {
    display: none;
}

.hp-form__label {
    margin-bottom: $form-label-margin-bottom;
    @include font-size($form-label-font-size);
    font-style: $form-label-font-style;
    font-weight: $form-label-font-weight;
    color: $form-label-color;
}

.hp-field {
    &.hp-field--number,
    &.hp-field--text,
    &.hp-field--textarea,
    &.hp-field--password,
    &.hp-field--email {
        display: block;
        width: 100%;
        padding: 0.575rem 1.125rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #454056;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d5d2dc;
        appearance: none;
        border-radius: 0.5rem;
        box-shadow: inset 0 1px 2px transparent;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    &.hp-field--attachment-upload {
        .hp-field--button {
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            color: #666276;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.575rem 1.5rem;
            font-size: 1rem;
            border-radius: 0.5rem;
            transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
            border-color: #e4dfeb;
            color: #454056;
            background-color: #f5f4f8;
            box-shadow: unset;

            &:hover {
                border-color: #e4dfeb;
                color: #1f1b2d;
                background-color: #f7f6f9;
                box-shadow: 0 0.25rem 0.25rem 0.125rem rgbb(187, 183, 197, .1), 0 0.375rem 0.75rem -0.125rem rgba(187, 183, 197, .4);
            }

            &:before {
                content: "";
                display: inline-block;
                font-family: "finder-icons" !important;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                vertical-align: middle;
                line-height: 1;
                margin-right: 8px;
            }
        }
    }
}

.hp-form__field {
    margin-bottom: 16px;
}

.vendor-archive-message-form {
    .hp-form__button.hp-field--submit {
        &:before {
            content: "";
            display: inline-block;
            font-family: "finder-icons" !important;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            vertical-align: middle;
            line-height: 1;
            margin-right: 8px;
        }
    }
}

.hp-field--attachment-upload {
    .hp-row {
        [class^="hp-col-"] {
            width: 80px;
            height: 80px;

            img {
                border-radius: 4px;
            }

            [data-component="file-delete"] {
                top: 4px !important;
                right: 4px !important;
                width: 1.5rem !important;
                height: 1.5rem !important;
            }
        }
    }
}

.admin-bar {
	.lg-toolbar {
		top: 46px;

        @media screen and (min-width: 783px) {
            top: 32px;
        }
	}
}

.finder-gallery-zoom-diabled {
    .gallery-item {
        &:before,
        &:after {
            content: none;
        }
    }
}

.finder-form-dark {
    .hp-form__label {
        color: #fff;
    }

    .hp-field {
        &.hp-field--number,
        &.hp-field--text,
        &.hp-field--textarea,
        &.hp-field--password,
        &.hp-field--email {
            background-color: $input-light-bg;
            color: $input-light-color;
            border-color: $input-light-border-color;
            &::placeholder {
                color: $input-light-placeholder-color;
            }

            &:focus {
                border-color: $input-light-focus-border-color;
                background-color: $input-light-focus-bg;
                color: $input-light-color;
                @include box-shadow($input-light-focus-box-shadow);
                &::placeholder {
                    color: $input-light-focus-placeholder-color;
                }
            }

            &:disabled {
                background-color: $input-light-disabled-bg;
                color: $input-light-disabled-color;
                opacity: $input-light-disabled-opacity;
                &::placeholder {
                    color: $input-light-disabled-placeholder-color;
                }
            }
        }
    }

    .hp-form__messages {
        background-color: #1f1b2d;
    }

    .hp-rating-stars i {
        color: #666276;

        &.active {
            color: #fdbc31;
        }
    }
}

.finder-hp-singup-popup-form {
    .hp-form__field {
        &--checkbox {
            display: block;
            min-height: 1.5rem;
            padding-left: 1.5em;
            margin-bottom: 0.375rem;

            input {
                width: 1em;
                height: 1em;
                margin-top: 0.25em;
                vertical-align: top;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border: 2px solid #bbb7c5;
                appearance: none;
                color-adjust: exact;
            }

            label {
                color: #666276;
            }
        }
    }

    &.finder-form-dark .hp-form__field {
        &--checkbox {
            .form-check-input {
                border-color: $form-check-input-light-border-color;

                &:focus {
                    border-color: $form-check-input-light-focus-border-color;
                }

                &:checked {
                    border-color: $form-check-input-light-checked-border-color;
                }
            }

            .form-check-label {
                color: $form-check-label-light-color;
            }

            a {
                color: #fff;
            }
        }
    }
}

.finder-hp-password-popup-form {
    &.finder-form-dark {
        .hp-form__description {
            color: #fff;
            opacity: .6;
        }
    }
}

body.bg-dark {
    .hp-form__messages {
        background-color: rgba(255,255,255,.04) !important;
        color: #fff;
    }
}

.admin-bar {
    .map-popup {
        top: 46px;

        @media screen and (min-width: 783px) {
            top: 32px;
        }
    }
}

.modal-content, .hp-form--message-send {
    .hp-form__button {
        background-color: #fd5631;
        border-color: #fd5631;
        padding: 0.825rem 1.75rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        width: auto;
        color: #fff;
        display: block;
        font-weight: bold;
        line-height: 1.5;

        &:hover {
            background-color: #fd390e;
            border-color: #fd390e;
            color: #fff;
            box-shadow: 0 0.25rem 0.25rem 0.125rem rgba(253, 86, 49, 0.1), 0 0.375rem 0.75rem -0.125rem rgba(253, 86, 49, 0.4);
        }
    }
}

.hp-message-form {
    .hp-form__button {
        width: 100% !important;
    }
}

.finder-hp-listing-single-images {
    .col-8 .gallery-item {
        height: 100%;
    }
}

.account-profile {
    .hp-field--file {
        opacity: 0;
        position: absolute;
        inset: 0;
        cursor: pointer;
    }

    > .col-lg-3 {
        display: grid;

        .form-label.pt-2,
        .hp-row {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }

        .hp-row {
            img {
                border-radius: 10px;
            }

            > div {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border: 1px dashed #d5d2dc;
                border-radius: .75rem;
                z-index: 9;
            }

            a {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: #000;
                border-radius: 50%;
                width: 30px;
                display: flex;
                height: 30px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
        }

        .form-label.pt-2 {
            display: flex;
            position: relative;
            padding: 0 !important;
            margin: 0;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: #4f4f4f;
            border: 1px dashed #d5d2dc;
            border-radius: .75rem;
            cursor: pointer;
            flex-direction: column;
            row-gap: 0.6rem;
            background-color: #f5f4f8;

            &::before {
                font-family: "finder-icons" !important;
                line-height: 1.25;
                font-size: 2rem;
                color: #9691a4;
                content: "\e944";
                font-weight: normal;
            }
        }
    }
}

#filters-sidebar {
    .form-check-input:checked[type=checkbox]::before {
        content: "\e94c";
        font-family: "finder-icons";
        font-size: 8px;
        position: absolute;
        color: #fd5631;
        left: 4px;
    }

    .form-check-input:checked[type=radio] {
        position: relative;
    }

    .form-check-input:checked[type=checkbox],
    .form-check-input:checked[type=radio] {
        background-image: none !important;
    }

    .form-check-input:checked[type=radio]::before {
        content: " ";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 2px;
        bottom: 2px;
        background-color: #fd5631;
        border-radius: 50%;
    }

}