/*
Theme Name:        Finder Child
Theme URI:         https://themeforest.net/user/madrasthemes/portfolio
Author:            MadrasThemes
Author URI:        https://themeforest.net/user/madrasthemes/
Description:       Child Theme of Finder Multipurpose Business Theme. Finder is a multipurpose WordPress Theme with focus in Technology Business niches.
Requires at least: WordPress 5.0
Template:          finder
Version:           1.0.10
License:           GNU General Public License v3 or later
License URI:       LICENSE
Text Domain:       finder-child
Tags:              two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, rtl-language-support, footer-widgets, sticky-post, theme-options
*/

