.steps.steps-vertical {
    flex-direction: column;
}

.steps.steps-vertical .step {
    display: flex;
}

.steps.steps-vertical .step-progress {
    flex-shrink: 0;
    width: 2rem;
    height: auto;
}



.steps.steps-vertical .step-label {
    margin: {
      top: -.125rem;
      bottom: $spacer * 2.5;
      left: $spacer * 2.5;
    }
    padding-top: initial;
    font-size: $font-size-base;
    text-align: left;

    @include media-breakpoint-down(md) {
      margin-bottom: $spacer * 1.5;
      margin-left: $spacer * 1.5;
    }
}

.steps-light .step-label {
    color: rgba(255,255,255,.7);
}

.steps.steps-vertical .step-progress-end {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0.125rem;
    height: 100%;
    transform: translateX(-50%);
}

.steps.steps-vertical .step-number {
    position: relative;
    top: initial;
    left: initial;
    margin-top: -0.125rem;
    margin-left: initial;
}



.steps-light .step:not(.active) .step-number {
    background-color: #353142;
    color: #fff;
    box-shadow: none;
}

.steps.steps-vertical.steps-light .step:not(.active) .step-number.bg-primary {
    box-shadow: 0 0.25rem 0.75rem -0.375rem rgb(253 86 49 / 20%), 0 0.5rem 1rem rgb(253 86 49 / 16%);
}

.steps.steps-vertical .step-progress-end::before {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23b6b1c0' stroke-width='4' stroke-dasharray='2%2c 12' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
    background-size: 25px;
}

.steps-light .step:not(.active) .step-progress-start::before, 
.steps-light .step:not(.active) .step-progress-end::before {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='4' stroke-dasharray='2%2c 18' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.steps.steps-vertical.steps-light .step:not(.active) .step-progress-end::before{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='4' stroke-dasharray='2%2c 12' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.steps.steps-vertical .step:last-child .step-label {
    margin-bottom: initial;
}



